/*//////////////////////// PRODUCT PAGE //////////////////////////////////////*/
.product-page article img{
    width: 40%;
}


/*TABLA*/
table{
    width: 80%;
    margin: 0 auto;
}
table ul li{
    list-style:none;
}
table td {
    border-color: black;
    border-radius: 10px;
}
.col-1{
    background-color: thistle;
    font-style: italic;
}
.col-2{
    background-color:white;
}

/*FIN TABLA*/

/*////////////////////////////////// END PRODUCT PAGE ////////////////////////////*/